/* 1 */
.lightblue-color {
    background-color: lightblue;
}

/* 2 */
.darkred-color {
    color: #8b0000;
}

/* 3 */
.yellow-background {
    background-color: rgb(255, 244, 155);
}

/* 4 */
.borders {
    border: 1px solid rgba(120, 85, 180, 0.9);
}

/* 5 */
.button-color {
    color: hsl(109, 100%, 50%);
}

/* 6 */
.button-color {
    background-color: hsla(315, 64%, 65%, 0.75)
}

/* 7 */
.button-color:hover {
    background-color: rgb(0, 70, 10);
}